src/test/resources/BaseDocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2022 rel. 2 (x64) (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:base="http://base.persistence.base.tashlogic.com" targetNamespace="http://base.persistence.base.tashlogic.com" elementFormDefault="qualified">
	<xsd:element name="baseDocument" type="base:BaseDocument"/>
	<xsd:complexType name="BaseDocument" abstract="true">
		<xsd:sequence>
			<xsd:element name="objectId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="lastModified" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="lastModifiedBy" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="deleted" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="objectCreationTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
